 
  /*clear all */
 *{
  margin:0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}
.nav-tabs>li>a{color:white;}
.current{color:#086ed5 !important;}
.wrap{width:800px;margin: 0 auto;padding: 0;}
body{
  background-image:url(../images/background.jpg);
  /*background-repeat: no-repeat;*/
  background-size: cover;
  /*background-size: contain;*/
  }
    .main{
      width:100%;

      overflow: hidden;
      background-color: transparent;
      position: relative;
    }
    .top{
      margin:0;
      /*background: #0767c8;*/
      background: linear-gradient(to bottom right,#086ed5,#055db5);
      border:1px solid #044e97;
      color:white;
    }
    .foot{
      width: 800px;
      height: 100px;
      background: red;
      margin:0 auto;
    }
    .left{
      width: 200px;
      position:absolute;
      /*
      float:left;
      
      background: green;
      */
      border: 5px solid #044e97;
    }
    .content{
      position: absolute;
      /*margin-left: 200px;*/
      margin-right: 200px;
      background-color: black;
    }
    .sidebar{
      width: 200px;
      height: 500px;
      float:right;
      /*right:200px;
      top: 100px;*/
      background: orange;
    }
