/*CSS Reset-----------------------------------------------------------------*/
body, ul, ol, dl, dd, h1, h2, h3, h4, h5, h6, pre, form, fieldset, legend, input, button, textarea, p, blockquote, table, th, td {
  margin: 0;
  padding: 0;
  -moz-box-sizing: content-box;
       box-sizing: content-box;
}

/*@Basic styles----------------------------------------------------*/
body#scrapbook {
  font-size: 16px;
}

blockquote {
  color: #218868;
  display: block;
  background-color: #e0dfcc;
  padding: 50px;
  margin: 20px;
  border-radius: 1em;
}

pre {
  padding: 30px;
  margin: 20px;
  font-size: 1em;
  color: #218868;
  border-radius: 1em;
}

h3 {
  border-bottom: 1px solid #d3d3d3;
  padding: 10px;
  margin-bottom: 15px;
  margin: 20px;
}

h4, h5 {
  margin: 20px;
  font-size: 1em;
  border-bottom: 1px solid #d3d3d3;
  padding: 10px;
  margin-bottom: 15px;
}

ul, ol {
  margin-left: 40px;
}

p {
  margin-left: 20px;
}

img {
  width: 600px;
  margin-left: 20px;
  margin: 15px;
}

table {
  margin-left: 20px;
}

em {
  margin: 40px;
  line-height: 50px;
}

/*@group page sttucture-------------------------------------------------------*/
.wrap {
  color: white;
  margin: 0 auto;
  padding: 0;
  background-color: #458B74;
}

.container {
  margin: 0 auto;
  color: white;
}

.content {
  font-size: 1.5em;
}

#header-name {
  padding: 10px;
  font-size: 2em;
  border-bottom: 1px solid #d3d3d3;
  margin-bottom: 20px;
}

#header-name a {
  color: #00B2EE;
}

.asset-meta {
  padding: 10px;
  margin-bottom: 20px;
  color: #5CACEE;
}

.asset-meta p {
  padding: 10px;
  font-size: 1em;
}

#process {
  width: 400px;
}

.default-info {
  font-size: 19.2px;
}

.third-content {
  margin-top: 40px;
  margin-bottom: 40px;
}

/*nesting*/
.third-content .paragraph {
  margin-top: 40px;
  margin-bottom: 20px;
}

.footer {
  border-top: 1px solid #d3d3d3;
  background-color: #458B74;
  color: white;
  padding-left: 50%;
  padding-top: 10px;
  padding-bottom: 20px;
}

.footer a {
  color: #5CACEE;
  font-weight: bold;
}

/*@group page components---------------------------------------------------------------------------*/
/*@group overrides---------------------------------------------------------------------------*/
