@charset 'utf-8';
$bgColor:#458B74;
body,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,pre,form,fieldset,legend,input,button,textarea,p,blockquote,table,th,td{
	margin:0;padding:0;
	box-sizing:content-box;
}
.wrap{
	color:white;
	margin:0 auto;
	padding:0;
	background-color:$bgColor;
}

.container{
	margin:0 auto;
	color:white;
}

blockquote{
	color:#111111;
	display:block;
	background-color:#e0dfcc;
}